<div class="container">
  <div class="flex flex-column">
    <h2 class="mb-5">Student Details</h2>
    <div class="form-group">
      <label class="form-label fw-bold">Full Name</label>
      <p class="font-monospace">{{ student.firstname}} {{student.lastname}}</p>
    </div>
    <div class="form-group">
      <label class=" fw-bold">Course</label>
      <p *ngIf="student.course">{{ student.course.course_title}}</p>
    </div>
    <div class="form-group">
      <label class=" fw-bold">Gender</label>
      <p *ngIf="student.gender">{{ student.gender}}</p>
    </div>
    <div class="form-group">
      <label class=" fw-bold">Email</label>
      <p *ngIf="student.email">{{ student.email}}</p>
    </div>
    <div class="form-group">
      <label class=" fw-bold">Status</label>
      <p *ngIf="student.status">{{ student.status}}</p>
    </div>
    <div class="form-group">
      <label class="fw-bold">Course Vimeo</label>
      <div *ngIf="student.course" id="myVideo">
        <div #handstick id="handstick"></div>
        <div class="btn-group">
          <button (click)="play()" class="btn btn-success btn-sm">Play</button>
          <button (click)="pause()" class="btn btn-secondary btn-sm">Pause</button>
          <button (click)="stop()" class="btn btn-danger btn-sm">Stop</button>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <a routerLink="/students" class="btn btn-success "> Back</a>
      <a routerLink="edit" class="btn btn-warning float-right">Edit</a>
    </div>
  </div>
</div>
